@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-header {
  background: #0b0124;
  color: #859ece;
}
.dark-footer {
  background:  #859ece;
  color: #0b0124;
}
.dark-writting{
  color: #859ece;
}
.light-writting{
  color: black;
}
.dark {
  background: linear-gradient(to bottom, #0b0124, #859ece);
  color: #2d3748;
}
.dark-components{
  background-color: #2a0783;
  color: #859ece;
  border-color: #2a0783;
}
.light-components{
  background-color: #f17609;
  color: #ffffff;
}
.light {
  background: #ffffff;
  color: #ffffff; /* Adjust to your light mode text color */
}

.light-header {
  background: linear-gradient(to left, #f17609, #e9bf98);
  color: #ffffff; /* Adjust to your light mode text color */
}
.light-footer {
  background: linear-gradient(to right, #f17609, #e9bf98);
  color: #ffffff; /* Adjust to your light mode text color */
}

.dark, .light {
  transition: background-color 0.5s ease, color 0.5s ease;
}
.light, .dark {
  transition: background-color 0.5s ease, color 0.5s ease;
}

@layer components {
  .bg-orange {
    background-color: orange;
  }
  .border-orange{
    border-color: orange;
  }

}

@layer components {
  .bg-orange {
    background-color: orange;
  }
  .border-orange{
    border-color: orange;
  }

}

.wt-titleadmin {
  @apply text-amber-500 text-6xl font-bold text-center;
  text-decoration: none;
  transition: text-decoration 0.2s;
}


.wt-title-trip {
  @apply text-black text-4xl font-bold ;

}




.wt-title-trip {
  @apply text-black text-4xl font-bold ;

}

.wt-choice{
  @apply px-5 py-5 text-5xl text-center text-white font-bold bg-orange-500 border border-orange-500 rounded-md ;
  transition: text-decoration 0.2s;

}
.wt-choice:hover{
  transform: scale(1.5);
}

.wt-title:hover {
  text-decoration: underline;
}

.wt-titleadmin:hover {
  text-decoration: underline;
}
.wt-title-2:hover {
  text-decoration: underline;
}

.wt-textemess{
  @apply text-black text-2xl rounded-md border border-black;
}

.wt-affichage{
  @apply text-white text-2xl   bg-orange rounded-md;
}

.wt-star{
  @apply text-4xl;
}

.wt-tableau{
  @apply text-white text-2xl font-bold text-center bg-orange rounded-md;
}


.wt-center{
  @apply  flex flex-col justify-center items-center;
}

.wt-questionnaire{
  @apply text-black text-2xl text-center;
}
.wt-texte{
  @apply text-center text-black  text-2xl;
}

.wt-rate{
  @apply font-bold text-4xl;
}

.wt-articles{
  @apply bg-pink-700 px-4 py-4 border border-black text-center text-white text-2xl;
}

.wt-content{
  @apply border border-black text-center text-black text-xl py-4 px-4;
}

.wt-presentation{
  @apply rounded-md px-4 py-4  text-2xl font-bold text-center ;
}

.wt-quest-general{
  @apply  border border-pink-700 rounded-md px-4 py-4 text-center items-center;
}

.wt-questionnaire{
  @apply border border-pink-700 bg-pink-700 rounded-md px-4 py-4 text-2xl text-center text-white font-bold;
}

.wt-quest-label{
  @apply border-pink-700  rounded-md text-2xl text-center text-black font-bold;
}

.wt-questionnaire2{
  @apply text-2xl text-center text-black font-bold;
}


.wt-affichage{
  @apply text-black text-xl text-center bg-white;
  text-decoration: none;
  transition: text-decoration 0.2s;
}
.wt-affichage:hover{
  text-decoration: underline;
}