@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
  background-color: #1a202c;
  color: #ffffff;
}

.light {
  background-color: orange;
  color: #ffffff;
}

@layer components {
  .bg-orange {
    background-color: orange;
  }
  .border-orange{
    border-color: orange;
  }

}

.wt-thanks{
  @apply text-amber-500 text-6xl font-bold text-center;
}

@layer components {
  .bg-orange {
    background-color: orange;
  }
  .border-orange{
    border-color: orange;
  }

}

.wt-title {
  @apply text-white text-2xl font-bold text-center;
  text-decoration: none;
  transition: text-decoration 0.2s;
}
.wt-titleadmin {
  @apply text-amber-500 text-6xl font-bold text-center;
  text-decoration: none;
  transition: text-decoration 0.2s;
}


.wt-title-trip {
  @apply text-black text-4xl font-bold ;

}

.wt-choice{
  @apply px-5 py-5 text-5xl text-center text-white font-bold bg-orange-500 border border-orange-500 rounded-md ;
  transition: text-decoration 0.2s;

}
.wt-choice:hover{
  transform: scale(1.5);
}


.wt-title-trip {
  @apply text-black text-4xl font-bold ;

}

.wt-choice{
  @apply px-5 py-5 text-5xl text-center text-white font-bold bg-orange-500 border border-orange-500 rounded-md ;
  transition: text-decoration 0.2s;

}
.wt-choice:hover{
  transform: scale(1.5);
}

.wt-title:hover {
  text-decoration: underline;
}

.wt-titleadmin:hover {
  text-decoration: underline;
}
.wt-title-2:hover {
  text-decoration: underline;
}

.wt-textemess{
  @apply text-black text-2xl rounded-md border border-black;
}

.wt-affichage{
  @apply text-white text-2xl   bg-orange rounded-md;
}

.wt-star{
  @apply text-4xl;
}

.wt-tableau{
  @apply text-white text-2xl font-bold text-center bg-orange rounded-md;
}

.wt-welcome{
  @apply px-20 py-20 text-white text-9xl font-bold text-center bg-orange border border-orange rounded-md;

}
.wt-center{
  @apply  flex flex-col justify-center items-center;
}

.wt-questionnaire{
  @apply text-black text-2xl text-center;
}
.wt-texte{
  @apply text-center text-black text-2xl;
}

.wt-rate{
  @apply font-bold text-4xl;
}

.wt-articles{
  @apply bg-pink-700 px-4 py-4 border border-black text-center text-white text-2xl;
}

.wt-content{
  @apply border border-black text-center text-black text-xl py-4 px-4;
}

.wt-presentation{
  @apply bg-pink-500 border-pink-500 rounded-md px-4 py-4 text-white text-2xl font-bold text-center ;
}

.wt-quest-general{
  @apply  border border-pink-700 rounded-md px-4 py-4 text-center items-center;
}

.wt-questionnaire{
  @apply border border-pink-700 bg-pink-700 rounded-md px-4 py-4 text-2xl text-center text-white font-bold;
}

.wt-quest-label{
  @apply border-pink-700  rounded-md text-2xl text-center text-black font-bold;
}

.wt-questionnaire2{
  @apply text-2xl text-center text-black font-bold;
}

